<footer>
    <p>copyrighted by valtee 2024</p>
    <a class="logo logo-git" href="https://github.com/VALTEEE"><img src="/images/github.png" height="50px" alt="" id="logo"></a>
    <a class="logo logo-linkedin" href="https://www.linkedin.com/in/valtteri-tila/"><img src="images/linkedin_h512px.png" height="50px" alt="" id="logo"></a>
  </footer>