<%- include("partials/header.ejs") %>

  <div class="fav-side-bar">
  <h2 class="top10">TOP 10 POSTS!</h2>
    <ul>

      <li class="favorite fav1"><a href="#"></a>fav1</li>
      <li class="favorite fav2"><a href="#"></a>fav2</li>
      <li class="favorite fav3"><a href="#"></a>fav3</li>
      <li class="favorite fav4"><a href="#"></a>fav4</li>
      <li class="favorite fav5"><a href="#"></a>fav5</li>
      <li class="favorite fav6"><a href="#"></a>fav6</li>
      <li class="favorite fav7"><a href="#"></a>fav7</li>
      <li class="favorite fav8"><a href="#"></a>fav8</li>
      <li class="favorite fav9"><a href="#"></a>fav9</li>
      <li class="favorite fav10"><a href=""></a>fav10</li>

  </ul>
  </div>

  <div class="create-post">
    <a href="/createpost"> <button class="btn-create-post">Create a Post</button> </a>
  </div>

  






  <%- include("partials/footer.ejs") %>
  <script src="index.js"></script>
</body>
</html>