body {
  min-height: 100vh;
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.title-text a:visited {
  text-decoration: none;
  color: darkblue;
}

.title-text a:active {
  color: rgb(36, 36, 156);
}

header {
  background-color: blueviolet;
  margin-top: 0;
}

.title-text {
    text-align: center;
    color: darkblue;
    margin-top: 0;
    padding-top: 1%;
    
}

.dropdown-menu {
  position: relative;
  display: inline-block;
  float: right;
  right: 12%;
  margin-top: -4%;
}

/* Hide the dropdown content by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px; /* Adjust to position the dropdown correctly */
}

/* Styling for the dropdown links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change the color of the links on hover */
.dropdown-content a:hover {
  background-color: rgb(208, 232, 240);
}

/* Profile picture styling (optional, for better display) */
.profile-pic {
  cursor: pointer;
  height: 40px; /* Adjust size as needed */
  width: 40px; /* Adjust size as needed */
  border-radius: 50%;
}




  .login-singup {
    position: relative;
    margin-top: -3%;
    left: 91%;
    font-size: 1.1em;
  }

  .login {
    margin-right: 2%;
    padding: 3px 8px 3px 8px;
    border: 3px solid blue;
    background-color: lightblue;
    text-decoration: none;
    color: rgb(74, 74, 245);
  }
  
  .login:hover{
    background-color: rgb(208, 232, 240);
  }

  .signup {
    border: 3px solid blue;
    padding: 3px 8px 3px 8px;
    background-color: lightblue;
    text-decoration: none;
    color: rgb(74, 74, 245);
  }

  .signup:hover {
    background-color: rgb(208, 232, 240);
  }

  .navbar {
    display: flex;
    margin-top: 3%;
    font-size: 1.5em;
    background-color: grey;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    justify-content: space-evenly;
  }

  .navbar a:visited {
    text-decoration: none;
    color: darkblue;
  }
  
  .navbar a:active {
    color: rgb(36, 36, 156);
  }


  .fav-side-bar {
    display: inline-block;
    border: black 3px solid;
    min-width: 240px;
    max-width: 650px;
  }

  .favorite {
    margin-bottom: 20px;
    font-size: 1.2em;
  }



  
  
  
  
  
  
  
  
  
  footer {
    margin-top: 40%;
    padding-bottom: 2%;
    padding-top: 20px;
    background-color: red;
    font-size: 1.6em;
}

.logo {
  position: relative;
  margin-top: -2%;
  margin-right: 1%;
  float: right;
  
}

.logo-linkedin {
  margin-right: 2%;
}